@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Tektur:wght@400..900&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box
}

body{
    font-family: "Arimo, sans-serif";
    background-color: rgb(17, 15, 131);
    margin: 5%;
    line-height: 1.6;

}
main {
    max-width: 800px;
    margin: auto;
    padding : 20px;
    box-shadow: 0 0 10px

}

header {
    text-align: center;
    color: brown;
    padding: 20px 0;
    border-radius: 8px 8px 8px ;
    background-image: url(imagenes/fragmento-codigo-html.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

header figure img{
    border-radius: 50%;
    border: 5px solid #216cae;
    box-shadow:  0 0 10px;



}

header h1{
    font-size: 1.2cm;
    opacity: 0.9;

}

.container{
    background-color: blueviolet;
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.contenedor_foto_perfil {
    width: 300px;
    height: 450px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    border: 7px solid black;
    margin: 5%;
    box-shadow: 0  0 20px rgb(17, 15, 131);
}

.contenedor_foto_perfil img  { 

    width: 100%;
    height: auto;
    display: block;
}

.cabecera { 
    position: relative;


}
.nombre_puesto { 
    display: inline-block;
    vertical-align: middle;
    margin-left: 1%;
    text-shadow: 0 0 20px rgb(0,0,0,0.5);
}

h3{
    font-size: 1.4em;
    margin-top: 20px;
    color: rgb(0, 0, 0);
}

section{
    background-color: rgb(165, 189, 30);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgb(0,0,0,0.1)}

section hr{
    border: 0;
    height: 2px;
    background-color: black;
    margin: 10px;



}
ul{
    list-style: none;
    


}
ul{

    padding: 5px 0;
}
i{
    color: #216cae;
    margin: right 8px;

}
address{
    margin: 5px

}

address{
    color: blue;
    text-decoration: none;

}
address{
    margin-bottom: 15px;
}